.App {
	background-color: #282c34;
	min-height: 100vh;
	max-height: 100vh;
	display: flex;
	flex-direction: row;
	font-size: calc(10px + 2vmin);
	color: white;
}

.sidebar {
	width: 20%;
	/* background-color: red; */
}

.transcriptContainer {
	width: 80%;
	/* background-color: royalblue; */
	text-align: center;
}

.epLink {
  width: 100%;
}